.post-card {
  padding: 2em;
  margin: 1em;
  box-shadow: 2px 3px 14px whitesmoke;
  border-radius: 10px;
  background: white;
}

.top-post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-post-row h4 {
  font-size: 1rem;
}

.post-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  margin: 1em;
}

.react-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right, whitesmoke, lightgray);
  padding: 0.25em;
  border-radius: 10px;
}
